.home-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    min-height: calc(100vh - 64px); 
    margin-top: 0;
    padding: 0 0; 
    
    align-items: center; 
    
    justify-content: space-between; 
  }
  
  app-stats {
    flex: 0 0 50%;
    display: block; 
  }
  
  app-shortener-card {
    flex: 0 0 40%;
    display: block;
    
    height: 80%; 
  }
  